.container
{
    height: 100vh;
}

.signup-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    height: 740px;
    width: 400px;
    background-color: rgba(255, 255, 255, 10%);
    border: solid;
    border-color: rgba(255, 255, 255, 40%);
    border-radius: 20px;
    box-shadow: 4px 8px 10px rgba(255, 255, 255, 0.2);
}

.input-icon-container
{
    display: flex;
}

.text-input
{
    height: 30px;
    width: 250px;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: aliceblue;
    font-size: 18px;
}

.text-input::placeholder
{
    color: aliceblue;
    font-size: 18px;
}

.text-input:focus
{
    outline: none;
}

.line-for-input
{
    margin: 5px;
    border: solid;
    border-width: 1px;
    border-color: aliceblue;
    width: 300px;
}

#signup-button
{
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.signup-container-login-link
{
    display: flex;
    cursor: pointer;
}

.signup-container-login-link a:visited
{
    color: aliceblue;
    text-decoration: none;
}

.signup-result-container-present
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    color: aliceblue;
    height: 200px;
    width: 300px;
    background-color: rgba(0, 255, 0, 0.1);
    border: solid;
    border-color: rgba(0, 255, 0, 0.4);
    border-radius: 20px;
    box-shadow: 4px 8px 10px rgba(255, 255, 255, 0.2);
}

.signup-result-container-error
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    color: aliceblue;
    height: 200px;
    width: 300px;
    background-color: rgba(255, 0, 0, 0.1);
    border: solid;
    border-color: rgba(255, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 4px 8px 10px rgba(255, 255, 255, 0.2);
}

.signup-result-container-present-text
{
    color:aliceblue;
    font-size: 20px;
}