body
{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, red, blue, purple);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color
{
    0%
    {
        background-position: 0 50%;
    }

    50%
    {
        background-position: 100% 50%;
    }

    100%
    {
        background-position: 0 50%;
    }
}

h4
{
    font-size: 40px;
}

.navbar
{
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 40%);
}

.input-accompany-icon
{
    height: 30px;
    margin: 0;
    padding: 0;
}