body
{
    margin: 0%;
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
}

.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(45deg, rgb(255, 75, 75), purple, blue);
    background-size: 300% 300%;
    animation: color 8s ease-in-out infinite;
}

@keyframes color
{
    0%
    {
        background-position: 0 50%;
    }

    50%
    {
        background-position: 100% 50%;
    }

    100%
    {
        background-position: 0 50%;
    }
}

.sub-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4
{
    font-size: 40px;
}

.navbar
{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 40%);
    box-shadow: 4px 8px 10px rgba(73, 73, 73, 0.2);
    z-index: 100;
}

.navbar button
{
    font-size: 24px;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-right: 80px;
    cursor: pointer;
}

.input-accompany-icon
{
    height: 30px;
    margin: 0;
    padding: 0;
}

.cc15-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 120px;
    left: 50px;
    height: 180px;
    width: 180px;
    border: solid;
    border-radius: 100px;
    border-color: rgba(229, 204, 236, 0.6);
    border-width: 4px;
    box-shadow: 4px 4px 10px rgba(201, 197, 197, 0.24);
    background: linear-gradient(45deg, rgb(255, 111, 111), rgb(173, 18, 173), blue);
    background-size: 150% 150%;
    animation: color 6s ease-in-out infinite;
    cursor: pointer;
}

.cc15-logo p
{
    /* color: aliceblue; */
    background: linear-gradient(45deg, rgb(238, 158, 158), rgb(197, 99, 197), rgb(120, 120, 236));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 80px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    color: aliceblue;
    background-color: rgba(48, 48, 48, 90%);
    box-shadow: 4px 8px 10px rgba(73, 73, 73, 0.2);
}

.accessibility-text
{
    display: none;
    position: fixed;
    left: calc(50% - 330px);
    color: aliceblue;
    height: 50px;
    width: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 4px 8px 6px rgba(255, 255, 255, 0.2);
}